{#
#}
{% if settings.grid_container.id %}
	{% set attributes = attributes.setAttribute('id', settings.grid_container.id) %}
{% endif %}
{% set grid_attributes = create_attribute() %}
{% if settings.grid.id %}
	{% set grid_attributes = grid_attributes.setAttribute('id', settings.grid.id) %}
{% endif %}
<div {{ attributes.addClass('grid-container', settings.grid_container.type, settings.grid_container.classes) }}>
	<div {{ grid_attributes.addClass(settings.grid.type, settings.grid.gutters_x, settings.grid.gutters_y, settings.grid.classes) }}>
		{% block grid %}
		{% endblock %}
	</div>
</div>
